<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="app">
        <h1>Whatsapp Bot</h1>
        <img src="" alt="qrCode" srcset="" id="qrcode">
        <h3>Logs: </h3>
        <ul class="logs"></ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"
        integrity="sha512-2hIBfT6wur46uR5ayhmyICuA8s15BvJhagB+jZImgktQAy832P7EuY8njl1HGp4YS0Sk8DXRo9dByhvD3jfDxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            let socket = io()

            socket.on('message', (message) => {
                $('.logs').append($('<li>').text(message))
            })

            socket.on('qr', function (src) {
                $('#qrcode').attr('src', src);
            })

            socket.on('ready', () => {
                $('#qrcode').hide();
            })

            socket.on('authenticated', () => {
                $('#qrcode').hide();
            })
        })
    </script>
</body>

</html>